.mainBody{
display:flex;
flex-direction:column;
justify-content:center;
}

.header{
display:flex;
align-items:center;
background:white;
justify-content:space-between;
padding:5px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.4),
    -5px -5px 15px rgba(255,255,255,0.2);
border-radius: 15px;
margin-top:2px;
}

.header img{
height:50px;
}