.footer{
position:fixed;
bottom:10px;
padding:5px;
width:95%;
border-radius:15px;
height:3rem;
display:flex;
align-items:center;
}

.icons{
margin-left:7%;
border-radius:50%;
background-color:white;
box-shadow: 20px 20px 53px 5px rgba(0,0,0,0.5);
padding:5px;
}

.icons:nth-child(1){
color:#f5b748;
}
.icons:nth-child(2){
color:#ec5e6f;
}

.icons:nth-child(3){
color:#62b4f9;
}

.icons:nth-child(4){
color:#76e2b3;
}

.icons:nth-child(5){
color:#915dd1;
}

@media (min-width:980px) and (max-width:1200px){
.icons{
margin-left:12%;
padding:10px;
}
}